@import url("https://fonts.googleapis.com/css?family=Montserrat:100");


#wrapper {
  text-align: center;
}

/* Our mixin positions a copy of our text
directly on our existing text, while
also setting content to the appropriate
text set in the data-text attribute. */
.glitch {
  /* Animation provies a slight random skew. Check bottom of doc
  for more information on how to random skew. */
  animation: glitch-skew 1s infinite linear alternate-reverse;
}
.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  /* Creates an initial clip for our glitch. This works in
  a typical top,right,bottom,left fashion and creates a mask
  to only show a certain part of the glitch at a time. */
  clip: rect(44px, 450px, 56px, 0);
  /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
  with an alternating animation to keep things fresh. */
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

/* Creates an animation with 20 steaps. For each step, it calculates 
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
  0% {
    clip: rect(89px, 9999px, 98px, 0);
    transform: skew(0.56deg);
  }
  5% {
    clip: rect(19px, 9999px, 35px, 0);
    transform: skew(0.89deg);
  }
  10% {
    clip: rect(8px, 9999px, 56px, 0);
    transform: skew(0.74deg);
  }
  15% {
    clip: rect(88px, 9999px, 58px, 0);
    transform: skew(0.2deg);
  }
  20% {
    clip: rect(67px, 9999px, 80px, 0);
    transform: skew(0.63deg);
  }
  25% {
    clip: rect(47px, 9999px, 4px, 0);
    transform: skew(0.38deg);
  }
  30% {
    clip: rect(42px, 9999px, 74px, 0);
    transform: skew(0.28deg);
  }
  35% {
    clip: rect(18px, 9999px, 97px, 0);
    transform: skew(0.72deg);
  }
  40% {
    clip: rect(83px, 9999px, 100px, 0);
    transform: skew(0.39deg);
  }
  45% {
    clip: rect(74px, 9999px, 15px, 0);
    transform: skew(0.79deg);
  }
  50% {
    clip: rect(19px, 9999px, 88px, 0);
    transform: skew(0.55deg);
  }
  55% {
    clip: rect(91px, 9999px, 64px, 0);
    transform: skew(0.5deg);
  }
  60% {
    clip: rect(11px, 9999px, 95px, 0);
    transform: skew(0.44deg);
  }
  65% {
    clip: rect(43px, 9999px, 50px, 0);
    transform: skew(0.64deg);
  }
  70% {
    clip: rect(69px, 9999px, 3px, 0);
    transform: skew(0.65deg);
  }
  75% {
    clip: rect(90px, 9999px, 48px, 0);
    transform: skew(0.82deg);
  }
  80% {
    clip: rect(21px, 9999px, 66px, 0);
    transform: skew(0.42deg);
  }
  85% {
    clip: rect(75px, 9999px, 7px, 0);
    transform: skew(0.34deg);
  }
  90% {
    clip: rect(50px, 9999px, 38px, 0);
    transform: skew(0.06deg);
  }
  95% {
    clip: rect(39px, 9999px, 40px, 0);
    transform: skew(0.98deg);
  }
  100% {
    clip: rect(53px, 9999px, 41px, 0);
    transform: skew(0.76deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(40px, 9999px, 21px, 0);
    transform: skew(0.17deg);
  }
  5% {
    clip: rect(27px, 9999px, 39px, 0);
    transform: skew(0.42deg);
  }
  10% {
    clip: rect(96px, 9999px, 35px, 0);
    transform: skew(0.9deg);
  }
  15% {
    clip: rect(89px, 9999px, 54px, 0);
    transform: skew(0.33deg);
  }
  20% {
    clip: rect(96px, 9999px, 58px, 0);
    transform: skew(0.26deg);
  }
  25% {
    clip: rect(43px, 9999px, 14px, 0);
    transform: skew(0.16deg);
  }
  30% {
    clip: rect(47px, 9999px, 70px, 0);
    transform: skew(0.4deg);
  }
  35% {
    clip: rect(31px, 9999px, 40px, 0);
    transform: skew(0.77deg);
  }
  40% {
    clip: rect(1px, 9999px, 69px, 0);
    transform: skew(0.99deg);
  }
  45% {
    clip: rect(77px, 9999px, 63px, 0);
    transform: skew(0.95deg);
  }
  50% {
    clip: rect(77px, 9999px, 43px, 0);
    transform: skew(0.11deg);
  }
  55% {
    clip: rect(50px, 9999px, 10px, 0);
    transform: skew(0.13deg);
  }
  60% {
    clip: rect(75px, 9999px, 14px, 0);
    transform: skew(0.34deg);
  }
  65% {
    clip: rect(82px, 9999px, 76px, 0);
    transform: skew(0.63deg);
  }
  70% {
    clip: rect(1px, 9999px, 40px, 0);
    transform: skew(0.06deg);
  }
  75% {
    clip: rect(29px, 9999px, 33px, 0);
    transform: skew(0.55deg);
  }
  80% {
    clip: rect(1px, 9999px, 22px, 0);
    transform: skew(0.91deg);
  }
  85% {
    clip: rect(12px, 9999px, 67px, 0);
    transform: skew(0.03deg);
  }
  90% {
    clip: rect(82px, 9999px, 23px, 0);
    transform: skew(0.81deg);
  }
  95% {
    clip: rect(6px, 9999px, 76px, 0);
    transform: skew(0.88deg);
  }
  100% {
    clip: rect(38px, 9999px, 2px, 0);
    transform: skew(0.99deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(-1deg);
  }
  10% {
    transform: skew(5deg);
  }
  20% {
    transform: skew(-4deg);
  }
  30% {
    transform: skew(-2deg);
  }
  40% {
    transform: skew(-1deg);
  }
  50% {
    transform: skew(-3deg);
  }
  60% {
    transform: skew(0deg);
  }
  70% {
    transform: skew(-1deg);
  }
  80% {
    transform: skew(2deg);
  }
  90% {
    transform: skew(4deg);
  }
  100% {
    transform: skew(3deg);
  }
}


.glitch2 {
  /* Animation provies a slight random skew. Check bottom of doc
  for more information on how to random skew. */
  animation: glitch-skew 1s infinite linear alternate-reverse;
}
.glitch2::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  /* Creates an initial clip for our glitch. This works in
  a typical top,right,bottom,left fashion and creates a mask
  to only show a certain part of the glitch at a time. */
  clip: rect(44px, 450px, 56px, 0);
  /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
  with an alternating animation to keep things fresh. */
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
.glitch2::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

/* Creates an animation with 20 steaps. For each step, it calculates 
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
  0% {
    clip: rect(89px, 9999px, 98px, 0);
    transform: skew(0.56deg);
  }
  5% {
    clip: rect(19px, 9999px, 35px, 0);
    transform: skew(0.89deg);
  }
  10% {
    clip: rect(8px, 9999px, 56px, 0);
    transform: skew(0.74deg);
  }
  15% {
    clip: rect(88px, 9999px, 58px, 0);
    transform: skew(0.2deg);
  }
  20% {
    clip: rect(67px, 9999px, 80px, 0);
    transform: skew(0.63deg);
  }
  25% {
    clip: rect(47px, 9999px, 4px, 0);
    transform: skew(0.38deg);
  }
  30% {
    clip: rect(42px, 9999px, 74px, 0);
    transform: skew(0.28deg);
  }
  35% {
    clip: rect(18px, 9999px, 97px, 0);
    transform: skew(0.72deg);
  }
  40% {
    clip: rect(83px, 9999px, 100px, 0);
    transform: skew(0.39deg);
  }
  45% {
    clip: rect(74px, 9999px, 15px, 0);
    transform: skew(0.79deg);
  }
  50% {
    clip: rect(19px, 9999px, 88px, 0);
    transform: skew(0.55deg);
  }
  55% {
    clip: rect(91px, 9999px, 64px, 0);
    transform: skew(0.5deg);
  }
  60% {
    clip: rect(11px, 9999px, 95px, 0);
    transform: skew(0.44deg);
  }
  65% {
    clip: rect(43px, 9999px, 50px, 0);
    transform: skew(0.64deg);
  }
  70% {
    clip: rect(69px, 9999px, 3px, 0);
    transform: skew(0.65deg);
  }
  75% {
    clip: rect(90px, 9999px, 48px, 0);
    transform: skew(0.82deg);
  }
  80% {
    clip: rect(21px, 9999px, 66px, 0);
    transform: skew(0.42deg);
  }
  85% {
    clip: rect(75px, 9999px, 7px, 0);
    transform: skew(0.34deg);
  }
  90% {
    clip: rect(50px, 9999px, 38px, 0);
    transform: skew(0.06deg);
  }
  95% {
    clip: rect(39px, 9999px, 40px, 0);
    transform: skew(0.98deg);
  }
  100% {
    clip: rect(53px, 9999px, 41px, 0);
    transform: skew(0.76deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(40px, 9999px, 21px, 0);
    transform: skew(0.17deg);
  }
  5% {
    clip: rect(27px, 9999px, 39px, 0);
    transform: skew(0.42deg);
  }
  10% {
    clip: rect(96px, 9999px, 35px, 0);
    transform: skew(0.9deg);
  }
  15% {
    clip: rect(89px, 9999px, 54px, 0);
    transform: skew(0.33deg);
  }
  20% {
    clip: rect(96px, 9999px, 58px, 0);
    transform: skew(0.26deg);
  }
  25% {
    clip: rect(43px, 9999px, 14px, 0);
    transform: skew(0.16deg);
  }
  30% {
    clip: rect(47px, 9999px, 70px, 0);
    transform: skew(0.4deg);
  }
  35% {
    clip: rect(31px, 9999px, 40px, 0);
    transform: skew(0.77deg);
  }
  40% {
    clip: rect(1px, 9999px, 69px, 0);
    transform: skew(0.99deg);
  }
  45% {
    clip: rect(77px, 9999px, 63px, 0);
    transform: skew(0.95deg);
  }
  50% {
    clip: rect(77px, 9999px, 43px, 0);
    transform: skew(0.11deg);
  }
  55% {
    clip: rect(50px, 9999px, 10px, 0);
    transform: skew(0.13deg);
  }
  60% {
    clip: rect(75px, 9999px, 14px, 0);
    transform: skew(0.34deg);
  }
  65% {
    clip: rect(82px, 9999px, 76px, 0);
    transform: skew(0.63deg);
  }
  70% {
    clip: rect(1px, 9999px, 40px, 0);
    transform: skew(0.06deg);
  }
  75% {
    clip: rect(29px, 9999px, 33px, 0);
    transform: skew(0.55deg);
  }
  80% {
    clip: rect(1px, 9999px, 22px, 0);
    transform: skew(0.91deg);
  }
  85% {
    clip: rect(12px, 9999px, 67px, 0);
    transform: skew(0.03deg);
  }
  90% {
    clip: rect(82px, 9999px, 23px, 0);
    transform: skew(0.81deg);
  }
  95% {
    clip: rect(6px, 9999px, 76px, 0);
    transform: skew(0.88deg);
  }
  100% {
    clip: rect(38px, 9999px, 2px, 0);
    transform: skew(0.99deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(-1deg);
  }
  10% {
    transform: skew(5deg);
  }
  20% {
    transform: skew(-4deg);
  }
  30% {
    transform: skew(-2deg);
  }
  40% {
    transform: skew(-1deg);
  }
  50% {
    transform: skew(-3deg);
  }
  60% {
    transform: skew(0deg);
  }
  70% {
    transform: skew(-1deg);
  }
  80% {
    transform: skew(2deg);
  }
  90% {
    transform: skew(4deg);
  }
  100% {
    transform: skew(3deg);
  }
}
